
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

footer {
  padding-top: 50px;
  
  color: rgba(0, 0, 0, 0.486);
  text-align: center;
}
